<%- include("header"); -%>

<div class="container-fluid pt-5">
  <div class="card mx-auto my-4" style="width: 60%;">
    <div class="card-body card-background">
      <p>Hi, my name is Dillon (pictured below) and I made this website to practice making websites. Pretty exciting, huh?</p><br>
      <div class="container-fluid mb-3 text-center">
        <img src="images/fry.jpg" alt="">
      </div>

      <p>If you're interested, I used Node.js, Express and MongoDB (and the Spoonacular, poetryDB, uselessfacts, jokeAPI, ScoreBat, and quoteable APIs).</p>
    </div>
  </div>
</div>



<%- include("footer"); -%>
