<%- include("header"); -%>

<div class="container-fluid page-text my-4 py-5">
  <div class="card mx-auto" style="width: 60%;">
    <div class="card-body card-background">
      <h2 class="card-title my-3 pb-3">Contact Me!</h2>
      <h5 class="card-subtitle">Have a question or comment? Something on your mind? Done something terrible and need to tell someone because it's eating you up inside? Well then send me a message and take advantage of our industry first, no-blackmail guarantee!</h5>
      <form action="/contact" method="post" enctype="multipart/form-data" class="mt-4">
        <div class="row">
          <div class="col-md-6">
            <label class="form-label" for="">Your Name</label>
            <input type="text" class="form-control" name="name" id="name"><br>
          </div>
          <div class="col-md-6">
            <label class="form-label">Your Email</label>
            <input type="email" class="form-control" name="email" id="email"><br>
          </div>
        </div>
        <label class="form-label">Subject</label>
        <input class="form-control" type="text" name="subject" id="subject">
        <div class="mt-4">
          <label class="form-label">Your Message</label><br>
          <textarea name="message" class="form-control" rows="10" cols="50"></textarea><br>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</div>



<%- include("footer"); -%>
