<%- include ("header"); -%>

<div class="container-fluid page-title mt-5 pt-5 text-center">
  <div class="card mx-auto" style="width: 60%;">
    <div class="card-body card-background">
      <h2 class="card-title">Sorry, something went wrong.</h2>
    </div>
  </div>
</div>




<%- include ("footer"); -%>
