<%- include ("header"); -%>

<div class="my-5 page-title">
    <ul>
        <li>
          <a href="/lotr" class="main-link"><h2>Lord of the Rings Trivia</h2></a>
          <p>(Beta - NOT mobile-friendly)</p>
        </li>
      </ul>
</div>


<%- include ("footer"); -%>
