
<%- include("header"); -%>
<div class="page-container">
  <div class="container text-center mt-4 py-5 page-title">
    <h1>Dillon's Daily Doses</h1>
    <h3>You've got time to waste, and we're here to help.</h3>
  </div>

<div class="container text-center mt-4 py-5 page-title">
  <div class="row">
    <div class="col">
      <h3><a class="main-link" href="/poem">Poem</a></h3>
    </div>
    <div class="col">
      <h3><a class="main-link" href="/quote">Quote</a></h3>
    </div>
    <div class="col">
      <h3><a class="main-link" href="/joke">Joke</a></h3>
    </div>
  </div>
</div>
<div class="container text-center py-5 page-title">
  <div class="row">
    <div class="col">
      <h3><a class="main-link" href="/recipe">Recipe</a></h3>
    </div>
    <div class="col">
      <h3><a class="main-link" href="/soccer">Soccer</a></h3>
    </div>
    <div class="col">
      <h3><a class="main-link" href="/fact">Fact</a></h3>
    </div>
  </div>
</div>
</div>






<%- include("footer"); -%>
