<%- include("header"); -%>




<div class="gameover defeat hidden">
    <h3 class="win-msg">YOU LOSE! 😿</h3>
    <h5 class="font-two win-msg-sub">The Nazgul have overcome he and Sam, and Middle Earth is doomed...</h5>
    <img src="images/images/defeat.gif" alt="" class="gif">
  </div>


<%- include("footer"); -%>