@font-face {
  font-family: "middleearthmedium";
  src: url("fonts/middleearth-ao6m-webfont.woff2") format("woff2"),
    url("fonts/middleearth-ao6m-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ringbearermedium";
  src: url("fonts/ringbearermedium-51mgz-webfont.woff2") format("woff2"),
    url("fonts/ringbearermedium-51mgz-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ------------------- ELEMENTS ------------------- */

body {
  background-color: #222;
  background-size: cover;
  background-attachment: fixed;
  /* background: linear-gradient(white, black); */
}

/* --------------------- CLASSES -------------------- */

.main-title {
  text-align: center;
  /* text-shadow: 0 0 3px #d3b032; */
  background: -webkit-linear-gradient(#f8cb2e, #997c15);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game {
  margin-left: 2rem;
}

.result {
  white-space: pre-line;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);

  background: linear-gradient(#f8cb2e, #927714);
  font-family: "middleearthmedium";
  font-weight: 600;
  padding: 6rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.gameover {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50%;
  height: 75%;
  transform: translate(-50%, -50%);

  text-align: center;
  z-index: 5;
}

.win-msg {
  font-family: "middleearthmedium";
  font-size: 60px;
  background: -webkit-linear-gradient(#f8cb2e, #997c15);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.win-msg-sub {
  background: -webkit-linear-gradient(#f8cb2e, #997c15);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gif {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.page-top {
  /* background-color: #222; */
  color: #f0c929;
  margin: 2rem 0 2rem;
}

.page-body {
  width: 75%;
  margin: 0 1rem 0;
  text-align: left;
  background-color: #9fc088;
  border-radius: 10px;
  box-shadow: 0 0 15px #f8cb2e;
}

.quoteBody {
  font-style: italic;
  font-weight: 600;
  margin: 20px;
  border: solid;
  border-radius: 10px;
  background-color: white;
}

#startGame {
  margin: 1rem 0 2rem;
}

.submitGuess {
  width: 7rem;
  margin: 0 0 1rem;
}

.nextQuestion {
  width: 12rem;
}

.quote {
  width: 75%;
  text-align: center;
  /* border: solid;
      border-radius: 10px;  */
}

input[type="radio"] {
  width: 14px;
  height: 14px;
}

/* ------------------ CANVAS -------------------- */

.game-window {
  margin: 2rem;
  /* padding-bottom: 1rem; */
  height: 30%;
  text-align: center;
}

#layer1 {
  box-shadow: 0 0 10px #f8cb2e;
  position: absolute;
  left: 22%;
  /* background-color: brown; */
  border-radius: 10px;
  z-index: 1;
}

#layer2 {
  position: absolute;
  left: 22%;
  /* background-color: cyan; */
  border-radius: 10px;
  z-index: 2;
}

/* -------------------- IMAGES & ANIMATIONS ------------------ */

@keyframes gandalf {
  0% {
    top: 7%;
    left: 1%;
  }
  50% {
    top: 9.5%;
    left: 1%;
  }
  100% {
    top: 7%;
    left: 1%;
  }
}

@keyframes boromir {
  0% {
    animation-timing-function: steps(1, end);
  }
  50% {
    transform: scaleX(-1);
    animation-timing-function: steps(1, end);
  }
  100% {
    /* transform: scaleX(-1); */
  }
}

@keyframes legolas {
  0% {
    top: 79%;
    left: 2%;
  }
  15% {
    top: 78.5%;
    left: 2.25%;
  }
  25% {
    top: 78%;
    left: 2.5%;
  }
  35% {
    top: 78.5%;
    left: 2.75%;
  }
  50% {
    top: 79%;
    left: 3%;
  }
  60% {
    top: 78.5%;
    left: 2.75%;
  }
  75% {
    top: 78%;
    left: 2.5%;
  }
  85% {
    top: 78.5%;
    left: 2.25%;
  }
  100% {
    top: 79%;
    left: 2%;
  }
}

@keyframes aragorn {
  0% {
    top: 60%;
    right: 10%;
  }
  /* 15% {
    top: 59%;
    right: 9.5%;
  } */
  25% {
    top: 58%;
    right: 9%;
  }
  /* 35% {
    top: 59%;
    right: 8.5%;
  } */
  50% {
    top: 60%;
    right: 8%;
  }
  /* 60% {
    top: 59%;
    right: 8.5%;
  } */
  75% {
    top: 58%;
    right: 9%;
  }
  /* 85% {
    top: 59%;
    right: 9.5%;
  } */
  100% {
    top: 60%;
    right: 10%;
  }
}

@keyframes chop {
  0% {
    right: 3%;
    top: 20%;
    animation-timing-function: steps(1, end);
  }
  50% {
    right: 4%;
    top: 20%;
    transform: rotate(-35deg);
    animation-timing-function: steps(1, end);
  }
  100% {
    right: 3%;
    top: 20%;
  }
}

@keyframes pippin {
  0% {
    top: 80%;
    right: 5%;
  }
  50% {
    top: 79%;
    right: 5%;
  }
  100% {
    top: 80%;
    right: 5%;
  }
}

@keyframes merry {
  0% {
    top: 40%;
    left: 3%;
  }
  50% {
    top: 40%;
    left: 4%;
  }
  100% {
    top: 40%;
    left: 3%;
  }
}

.dec {
  width: 100px;
  position: absolute;
}

.dec:hover {
  transform: scale(1.1);
}

.gimli {
  right: 3%;
  top: 20%;
  animation-name: chop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.gandalf {
  top: 7%;
  left: 1%;
  animation-name: gandalf;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.aragorn {
  height: 90px;
  width: 110px;
  top: 60%;
  right: 10%;
  animation: aragorn 2s infinite;
}

.legolas {
  top: 79%;
  left: 2%;
  animation-name: legolas;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.pippin {
  top: 80%;
  right: 5%;
  animation-name: pippin;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

.merry {
  top: 40%;
  left: 3%;
  animation-name: merry;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.boromir {
  top: 66%;
  left: 8%;
  animation-name: boromir;
  animation-duration: 1s;
  /* animation-timing-function: steps(1, end); */
  animation-iteration-count: infinite;
}

/* -------------- Fonts -------------- */

.font-one {
  font-family: "Macondo", cursive;
  font-weight: 600;
}

.font-two {
  font-family: "Josefin Sans", sans-serif;
}

.font-three {
  font-family: "ringbearermedium";
}

/* Party Business Regular
  The Shire Regular
  Hobbiton Brushhand Hobbiton brush Regular
  MiddleEarth Regular
  Ringbearer Medium*/
